<!DOCTYPE html>
<html ng-app="FilterInControllerModule">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="http://code.angularjs.org/1.2.25/angular.min.js"></script>
<script src="../assets/js/script5.js"></script>
</head>
<body>
	<div ng-controller="FilterController as ctrl">
      <div>
        All entries:
        <span ng-repeat="entry in ctrl.array">{{entry.name}} </span>
      </div>
      <div>
        Entries that contain an "a":
        <span ng-repeat="entry in ctrl.filteredArray">{{entry.name}} </span>
      </div>
    </div>
</body>
</html>